---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set indexablePageKeys = ["home", "about", "services", "contact"] %}
{% for pageKey in indexablePageKeys %}
  {% set localizedRoutes = site.routes[pageKey] %}
  {% for locale, route in localizedRoutes %}
  <url><loc>{{ site.url }}{{ route }}</loc></url>
  {% endfor %}
{% endfor %}
</urlset>
